*{
    margin: 0px 0px;
}
.watermark{
    color: brown;
    position: absolute;
    right: 0px;
    margin-right: 1%;
}
body{
    background-color: black;
    color: rgb(0, 162, 255);
    font-size: large;
    font-weight: bolder;
    line-height: 2rem;
    scrollbar-color: rgb(0, 162, 255);
    padding: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10%;
}
.h1{
    color: aqua;
    font-size: xx-large;
    margin: 10px 10px;
}

.h4{
    color: rgb(0, 255, 170);
    font-size: larger;
    margin: 1px 10px;
}

.h2{
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin: 10px 10px;
}
